.section-cards{
    min-width: 100vw;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border-radius: 15px;
    background-image: linear-gradient(to left, black, rgb(33, 31, 31));
    width: 20em;
    height: 30em;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
}
.card-header{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    min-height: 12em;
    background-color: white;
    border-radius: 15px;
}

.card-footer{
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: start;
    align-items: start;
    color: aliceblue;
}